.cover-all-hero {
    padding: 25px 30px;
    border-radius: 15px;
    min-height: 35rem;
    width: 100%;
    position: relative;
    background-color: rgba(10, 6, 27, 0.719);
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
}

.cover-all-hero button {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

/*Start Hero */
.hero {
    background-image: url(../../Assets/images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 25px;
}

.hero-h2 {
    font-size: 62px;
}

.hero-h2 span {
    color: var(--second-color);
}

/*End hero */