.cover-all-hero{
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.342);
}
/*Start Hero */
.hero {
    background-image: url(../../Assets/images/banner-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 25px;
}

.hero-h2 {
    font-size: 62px;
}

.hero-h2 span {
    color: var(--second-color);
}

/*End hero */