.shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

.shopping-cart h2 {
    font-weight: 700;
    margin: 40px 0 10px 0;
}

.shopping-cart .underline {
    width: 150px;
    border-radius: 10px;
    border: 2px solid #000;
    margin: 0 0 40px 0;
}

.shopping-cart-container {
    padding: 45px 25px;
    margin: 20px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #B68D40;

}

.shopping-cart-container h4 {
    margin: 15px 0 40px 0;
}

.shopping-cart-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
    padding: 30px 15px;
    background-color: #eee;
    border-radius: 10px;
}

.shopping-cart p {
    margin: 0;
}

.shopping-cart img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    object-fit: fill;
}

.shopping-cart .total-price {
    font-size: 25px;
    color: #fff;
}

.shopping-cart .button {
    border: none;
    margin: 0;
    padding: 0;
    background-color: unset;
    font-weight: 700;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.925);
    transition: .2s;
}

.shopping-cart .button:hover {
    color: #fff;

}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 100px;

}

.buttons button {
    border: 0;
    padding: 10px;
    /* background-color: transparent; */
    font-size: 18px;
}

.buttons .back-icon {
    cursor: pointer;
    font-size: 45px;
    color: #fff;
    transition: .2s;
}

.buttons .back-icon:hover {
    color: #000;
}