:root {
    --main-color: #B68D40;
    --second-color: #189AB4;
    --main-font-family: 'Poppins', sans-serif;
}

body {
    font-family: var(--main-font-family);
    /* background-color: #92b41860; */
}




/* Start Products */
.prouducts {
    width: 100%;
    margin: 0;
    padding: 0;
    /* background-image: url(../../Assets/images/gallery-bg.png); */
    background: linear-gradient(rgba(1, 1, 1, 0.87), rgb(136, 24, 24), rgba(1, 1, 1, 0.911)), url(../../Assets/images/gallery-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-weight: 600;
}

.products-content {
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 45px;
    margin-top: 45px;
    width: 100%;
}

.product-card {
    background-color: #189ab49d;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    transition: 1s ease all;
}

.product-card:hover {
    transform: translateY(5px);
}

.product-card p {
    margin-top: 5px;
}

.product-card img {
    border-radius: 10px;
    width: 175px;
    height: 200px;
    object-fit: fill;
}

/* Additional */
/* .shopping-cart-product{
    background-color:#189ab49d;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;
    transition: .5s ease all;
    width: 100%;
}
.shopping-cart-product button:hover {
    transform: translateY(1px);
}
.shopping-cart-product h4{
    margin: 0 5px;
    padding: 0;
    font-size: 12px;
}
.shopping-cart-product p {
    margin-right: 5px;
    font-size: 10px;
}

.shopping-cart-product img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 5px;
}
.shopping-cart-product button{
    font-size: 10px;
    margin: 0 5px;
} */
/* End Products */

/* Start Shopping Cart */
/* .shopping-cart {
    position: absolute;
    top: 100px;
    right: 0;
    width: 400px;
    text-align: center;
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -10px -5px 10px brown;
    opacity: .9;
    transition: .5s ease all;
    
}

.shopping-cart-show-hide {
    transform: translateX(0);
    display: block;
}

.shopping-cart-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.shopping-cart-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}   
.shopping-cart-footer p{
    text-decoration: none;
    background-color: #189AB4;
    font-family: var(--main-font-family);
    background-color: #189AB4;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    color: #fff;
    border: none;
}
.shopping-cart-footer button:hover{
    color: #000;
} */
/* End Shopping Cart */